footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.footer__bckgrnd {
  background-color: #ffffff;
  margin-top: 150px;
  border-radius: 30px 30px 0 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 75px 0;
  row-gap: 20px;
}

.footer__item {
  width: 50%;
}

.footer__owner {
  font-family: manrope;
  line-height: 50px;
  color: #000000;
}

.footer__contact-link_wrap {
  margin-left: auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.logo-social_media {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.logo-social_media:hover {
  opacity: 0.5;
}

.footer__rights,
.footer__data-policy {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  opacity: 0.5;
}

.data-policy_wrap {
  margin-left: auto;
  text-align: right;
}

@media (max-width: 1199px) {
  .footer__bckgrnd {
    margin-top: 125px;
  }

  .footer-list {
    padding: 40px 0;
  }

  .footer__owner {
    font-size: 16px;
    line-height: 45px;
  }

  .footer__rights,
  .footer__data-policy {
    font-size: 14px;
    line-height: 45px;
  }

  .logo-social_media {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .footer__bckgrnd {
    margin-top: 80px;
  }

  .footer-list {
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 15px;
  }

  .footer__item {
    width: 100%;
  }

  .footer__owner {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }


  .footer__rights,
  .footer__data-policy {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }

  .footer__social-media {
    width: 200px;
  }

  .logo-social_media {
    width: 45px;
    height: 45px;
  }
  
  .footer__contact-link_wrap {
    margin-left: 0;
    margin: 0 auto;
    width: 200px;
  }
  
  .data-policy_wrap {
    margin-left: 0;
    text-align: center;
  }
}
