.main__screen {
  display: flex;
  height: 820px;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.9) 150%
    ),
    url(../resources/main-img.jpg) 0 0 / cover no-repeat fixed;
}

.nav__wrapper {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.nav {
  display: flex;
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  line-height: 55px;
  letter-spacing: 0em;
  transition: 0.5s;
}

.nav__link:hover {
  color: #03a5b0;
}

.main__text {
  margin-top: 250px;
  width: 430px;
  font-size: 20px;
  line-height: 26px;
}

.main__title {
  margin-top: 30px;
  width: 920px;
  color: #03a5b0;
}

@media (max-width: 1199px) {
  .main__screen {
    display: flex;
    height: 650px;
    background-position: 50%;
  }
  
  .nav__wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav {
    display: none;
  }
  
  .main__text {
    margin-top: 150px;
    width: 430px;
  }
  
  .main__title {
    margin-top: 30px;
    width: 720px;
    color: #03a5b0;
  }
}


@media (max-width: 767px) {

}
