.projects__title {
  padding-top: 125px;
}

.projects__list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  max-width: 100%;
}

.project__link {
  position: relative;
  display: block;
  height: 550px;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.project__link:hover {
  display: inline-block;
  transform: scale(0.9);
  color: #03a5b0;
  box-shadow: 0 0 15px #03a5b0;
  border-radius: 30px;
}

.project__link:hover p {
  color: #03a5b0;
}

.project__name {
  position: absolute;
  bottom: 95px;
  left: 50px;
  font-size: 35px;
  line-height: 46px;
  transition: 0.5s;
}

.project__dscrpt {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 30px;
  line-height: 39px;
  transition: 0.5s;
}

.projects__btn {
  display: block;
  box-sizing: border-box;
  width: 580px;
  height: 150px;
  margin-top: 80px;
  border-radius: 30px;
  background-color: #03a5b0;
  transition: 0.5s;
  font-size: 30px;
  text-align: center;
  line-height: 150px;
  color: #000000;
}

.projects__btn:hover {
  border: 1px solid #03a5b0;
  background-color: #121212;
  color: #03a5b0;
}

@media (max-width: 1199px) { 
    .project__link {
    height: 445px;
    width: 100%;
  }

  .project__img {
    height: 445px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .project__name {
    bottom: 70px;
    left: 40px;
    font-size: 28px;
    line-height: 36px;
  }
  
  .project__dscrpt {
    bottom: 40px;
    left: 40px;
    font-size: 24px;
    line-height: 31px;
  }
  
  .projects__btn {
    width: 100%;
    height: 100px;
    margin-top: 60px;
    font-size: 25px;
    line-height: 100px;
  }
}


@media (max-width: 767px) {

}