.services__title {
  margin-top: 150px;
}

.service__block {
  margin-top: 50px;
}

.service__img {
  height: 200px;
}

.service__text__wrpr {
  display: flex;
  padding: 40px 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #191c19;
  height: 200px;
  border-radius: 30px;
}

.service__name {
  width: 400px;
  font-size: 55px;
  line-height: 60px;
  color: #03a5b0;
}

.service__text {
  width: 600px;
}
