.skills__title {
  padding-top: 125px;
}

.skills__list {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.skill__item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 25px);
}

.skill__name {
  color: #03a5b0;
}

.skill__item::before {
  content: "";
  background-image: url(../resources/skills-icons/skill-icon-1.png);
  margin-bottom: 15px;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}

.skill__item:nth-child(2)::before {
  background-image: url(../resources/skills-icons/skill-icon-2.png);
}

.skill__item:nth-child(3)::before {
  background-image: url(../resources/skills-icons/skill-icon-3.png);
}

.skill__item:nth-child(4)::before {
  background-image: url(../resources/skills-icons/skill-icon-4.png);
}

.skill__dscrpt {
  margin-top: 15px;
}
