.skills__title {
  padding-top: 125px;
}

.skills__list {
  margin-top: 110px;
}

.skill {
  position: relative;
  margin-bottom: 120px;
}

.skill__name {
  color: #03a5b0;
}

.skill::before {
  content: "";
  background-image: url(../resources/skills-icons/skill-icon-1.png);
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  top: -60px;
  left: 2px;
  background-repeat: no-repeat;
  background-size: contain;
}

.skill:nth-child(2)::before {
  background-image: url(../resources/skills-icons/skill-icon-2.png);
}

.skill:nth-child(3)::before {
  background-image: url(../resources/skills-icons/skill-icon-3.png);
}

.skill:nth-child(4)::before {
  background-image: url(../resources/skills-icons/skill-icon-4.png);
}

.skill__text {
  margin: 15px 0 0 2px;
  width: 780px;
}
