body {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  font-family: IBM Plex Mono;
}

h1,
h2,
h3,
a,
p {
  color: #ffffff;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

h3 {
  font-size: 35px;
  line-height: 46px;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../resources/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.width_content {
  position: relative;
  height: 820px;
  width: 1155px;
  margin: 0 auto;
}

.nav_wrapper {
  position: absolute;
  width: 1155px;
  margin: 0 auto;
  top: 30px;
}

nav {
  display: inline;
  float: right;
  vertical-align: top;
}

.nav_link {
  margin-left: 50px;
  font-size: 18px;
  line-height: 55px;
}

.nav_text {
  position: absolute;
  width: 430px;
  top: 320px;
  font-size: 20px;
  line-height: 26px;
}

.nav_title {
  position: absolute;
  width: 920px;
  bottom: 120px;
  color: #03a5b0;
}

main {
  width: 1155px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
}

.projects_title {
  padding-top: 125px;
}

.projects_wrapper {
  margin-top: 40px;
}

.project_block {
  position: relative;
  height: 550px;
  background: url(../resources/project-img-1.png);
  background-repeat: no-repeat;
}

.project_block:nth-child(2) {
  background: url(../resources/project-img-2.png);
  background-repeat: no-repeat;
}

.project_block:nth-child(3) {
  background: url(../resources/project-img-3.png);
  background-repeat: no-repeat;
}

.project_name {
  position: absolute;
  bottom: 95px;
  left: 50px;
  font-size: 35px;
  line-height: 46px;
}

.project_dscrpt {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 30px;
  line-height: 39px;
}

footer {
  width: 100%;
  margin: 0 auto;
}
