@import url(header.css);
@import url(project.css);
@import url(skills.css);
@import url(services.css);
@import url(contacts.css);
@import url(footer.css);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #121212;
  font-family: IBM Plex Mono;
}

h1,
h2,
h3,
a,
p {
  color: #ffffff;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

h3 {
  font-size: 55px;
  line-height: 60px;
}

a {
  text-decoration: none;
  font-size: 22px;
  line-height: 29px;
}

p {
  font-size: 22px;
  line-height: 29px;
}

button,
input {
  font-family: IBM Plex Mono;
}

button {
  cursor: pointer;
}

.width__content {
  max-width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h2 {
    font-size: 55px;
    line-height: 60px;
  }

  h3 {
    font-size: 45px;
    line-height: 50px;
  }

  a {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 22px;
    line-height: 29px;
  }

  .width__content {
    max-width: 100%;
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }

  h2 {
    font-size: 28px;
    line-height: 30px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }

  a {
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }

  .width__content {
    padding: 0 15px
  }
}
