html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #121212;
  font-family: IBM Plex Mono;
}

h1,
h2,
h3,
a,
p {
  color: #ffffff;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

h3 {
  font-size: 35px;
  line-height: 46px;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../resources/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.width_content {
  position: relative;
  height: 820px;
  width: 1155px;
  margin: 0 auto;
}

.nav_wrapper {
  position: absolute;
  width: 1155px;
  margin: 0 auto;
  top: 30px;
}

nav {
  display: inline;
  float: right;
  vertical-align: top;
}

.nav_link {
  margin-left: 50px;
  font-size: 18px;
  line-height: 55px;
  letter-spacing: 0em;
  transition: 0.5s;
}

.nav_link:hover {
  color: #03a5b0;
}

.nav_text {
  position: absolute;
  width: 430px;
  top: 320px;
  font-size: 20px;
  line-height: 26px;
}

.nav_title {
  position: absolute;
  width: 920px;
  bottom: 120px;
  color: #03a5b0;
}

main {
  width: 1155px;
  margin: 0 auto;
}

.projects_title {
  padding-top: 125px;
}

.projects_wrapper {
  margin-top: 40px;
}

.project_block {
  position: relative;
  height: 550px;
  background: url(../resources/projects-imgs/project-img-1.png);
  background-repeat: no-repeat;
}

.project_block:nth-child(2) {
  background: url(../resources/projects-imgs/project-img-2.png);
  background-repeat: no-repeat;
}

.project_block:nth-child(3) {
  background: url(../resources/projects-imgs/project-img-3.png);
  background-repeat: no-repeat;
}

.project_name {
  position: absolute;
  bottom: 95px;
  left: 50px;
  font-size: 35px;
  line-height: 46px;
}

.project_dscrpt {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 30px;
  line-height: 39px;
}

.projects_btn {
  display: block;
  box-sizing: border-box;
  width: 580px;
  height: 130px;
  margin-top: 80px;
  border-radius: 10px;
  background-color: #03a5b0;
  transition: 0.5s;
  font-size: 30px;
  text-align: center;
  line-height: 130px;
  color: #000000;
}

.projects_btn:hover {
  border: 1px solid #03a5b0;
  background-color: #121212;
  color: #03a5b0;
}

.skills_title {
  padding-top: 125px;
}

.skills_list {
  margin-top: 110px;
}

.skill {
  position: relative;
  margin-bottom: 120px;
}

.skill_name {
  color: #03a5b0;
}

.skill::before {
  content: "";
  background-image: url(../resources/skills-icons/skill-icon-1.png);
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  top: -60px;
  left: 2px;
  background-repeat: no-repeat;
  background-size: contain;
}

.skill:nth-child(2)::before {
  background-image: url(../resources/skills-icons/skill-icon-2.png);
}

.skill:nth-child(3)::before {
  background-image: url(../resources/skills-icons/skill-icon-3.png);
}

.skill:nth-child(4)::before {
  background-image: url(../resources/skills-icons/skill-icon-4.png);
}

.skill_text {
  margin-left: 2px;
  width: 780px;
  font-size: 22px;
  line-height: 29px;
}

footer {
  width: 100%;
  margin: 0 auto;
}
